/* Common Elements ------------ */

body {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  letter-spacing: -0.5px;  
  list-style-type: none;
  position: relative;
  font-size: 16px;
  background-color: #F5F5F5;
  min-height: 100vh;
}

.main-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 991px) {

  body, .main-side {
    min-height: unset;
  }

  body {
    padding: 35px 0;
  }
}

/* Typography ------------ */

h1 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 150px;
  letter-spacing: -8px;
  line-height: 130px;
  text-align: left;
  color: #ffffff;
  background-color: #EDBF19;
}

/* Title side ------------ */

.headshot {
  max-width: 250px;
  border-radius: 50%;
  margin: 30px 0;
}

.description-side {
  text-align: center;
}

p.introduction {
  width: 75%;
  margin: 0 auto;
}

/* Menu ------------ */

ul.menu {
  list-style: none;
  text-align: right;
  font-size: 40px;
}

ul.menu li a {
  color: #222;
  line-height: 92px;
  border-bottom: 5px solid #EDBF19;
}

ul.menu li a:hover, ul.menu li a:focus {
  text-decoration: none;
  border-bottom-color: #222;
}

@media (max-width: 991px) {
  .menu-desktop{
    display:none;
  } 

  ul.menu {
    font-size: 30px;
    padding-left: 0;
    text-align: center;
  }

  ul.menu li {
    display: inline-block;
  }

  ul.menu li+li {
    margin-left: 15px;
  }
}

@media (min-width: 992px) {
  .menu-mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-mobile { 
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 405px) {
  h1 {
    font-size: 130px;
  }
}